
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BootstrapAndJquery</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<script src="~/lib/jquery/jquery.js"></script>
<body class="container"> @*Bootstrap class*@
    <h1 class="h1">This is a bootstrap and jquery lib class. </h1>
    <input type="button" value="click Me!" class="btn btn-outline-success" />
</body>
</html>
<script>
$(document).ready(function() 
{
    alert("Page loaded");
});
</script>