################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VasuBookStore/.vs/VasuBookStore
/VasuBookStore/VasuBookStore/obj
