################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VasuBookStore/.vs/VasuBookStore
/VasuBookStore/VasuBookStore/obj
/VasuBookStore/VasuBookStore/bin/Debug/n/VasuBookStore/.vs/ProjectEvaluation
/VasuBookStore/VasuBookStore/bin/Debug/net6.0
/VasuBookStore/.vs/ProjectEvaluation
