
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    <h1>This is a shared folder where we are calling Home Controller ContactUs View and This is common for all. </h1>
</body>
</html>
